@import "tailwindcss";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.bg-woman {
  @apply bg-gradient-to-b from-[#c37ff0] via-white via-70% to-[#ffa1df];
}

.bg-men {
  @apply bg-gradient-to-b from-[#4e8bc0] via-white via-70% to-[#e1edf9];
}
.bg-boy {
  @apply bg-gradient-to-b from-[#fe871e] via-white via-70% to-[#679f16];
}
.bg-all {
  @apply bg-gradient-to-b from-[#ff8ec9] via-white via-70% to-[#fed3e7];
}


.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-slides {
    height: 100%;
}

.image-gallery-slide .image-gallery-image {
    width: 100% !important; 
    height: 100% !important;
    object-fit: cover !important; 
}


.image-gallery-thumbnail {
  height: 80px; /* o el valor que prefieras */
  object-fit: cover;
  margin-top: 30px;
}

.image-gallery-slide-wrapper .custom-gallery-ItemView{
  height: 400px; /* altura fija para todas las imágenes */
  display: flex;
  align-items: center;
  justify-content: center;
   overflow: visible !important;
  touch-action: auto !important;
  pointer-events: auto !important;


}

.image-gallery-image .custom-gallery-ItemView {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain !important;

}


.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  width: 90%;
  max-width: 250px; /* ✅ Limita el ancho del área de thumbnails */
  margin: 0 auto;    /* ✅ Centra el contenedor */
}

.carousel .thumbs {
  display: inline-flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
}


.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* ✅ permite que el contenido crezca */
  touch-action: auto; /* ✅ permite pinch-to-zoom */
  pointer-events: auto;
  overflow: visible;
}


.carousel .slide img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

