@import "tailwindcss";

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.bg-woman {
  @apply bg-gradient-to-b from-[#c37ff0] via-white via-70% to-[#ffa1df];
}

.bg-men {
  @apply bg-gradient-to-b from-[#4e8bc0] via-white via-70% to-[#e1edf9];
}
.bg-boy {
  @apply bg-gradient-to-b from-[#fe871e] via-white via-70% to-[#679f16];
}
.bg-all {
  @apply bg-gradient-to-b from-[#ff8ec9] via-white via-70% to-[#fed3e7];
}


.image-gallery-content,
.image-gallery-slide-wrapper,
.image-gallery-slides {
    height: 100%;
}

.image-gallery-slide .image-gallery-image {
    /* 🎯 Prioridad alta para anular estilos internos */
    width: 100% !important; 
    height: 100% !important;
    
    /* 🎯 Crucial: Esto asegura que la imagen llene el espacio de alto y ancho definido,
       recortando partes si el aspecto ratio no coincide. */
    object-fit: cover !important; 
}


.image-gallery-thumbnail {
  height: 80px; /* o el valor que prefieras */
  object-fit: cover;
}

.image-gallery-slide-wrapper .custom-gallery-ItemView{
  height: 400px; /* altura fija para todas las imágenes */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-gallery-image .custom-gallery-ItemVie {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* o cover si quieres recorte */
}


